#experiment-controls {
  background: var(--phoenix-background-color-secondary);
  position: absolute;
  top: 10%;
  left: 0.5rem;
  width: 15rem;
  max-height: 70vh;
  max-width: 30%;
  border-radius: 0.5rem;
  box-shadow: var(--phoenix-box-shadow);
}
