.experiment-control-item {
  width: 100%;
  padding: 0.6rem;
  background: var(--phoenix-background-color-secondary);
  color: var(--phoenix-text-color);
  font-size: 0.8rem;
  transition: all 0.5s;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .experiment-control-item-left {
    display: flex;
    justify-content: flex-start;
    min-width: 0;
    padding-right: 0.5rem;

    .experiment-control-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .experiment-control-level {
      background: var(--phoenix-text-color-secondary);
      height: 2px;
      margin-right: 0.2rem;
    }
  }

  .experiment-control-item-right {
    display: flex;
    justify-content: flex-end;

    .item-expand {
      cursor: pointer;

      &.expanded {
        transform: scaleY(-1);
      }
    }

    .item-settings {
      cursor: pointer;
      margin-right: 0.2rem;
    }

    .item-config {
      position: absolute;
      top: 0;
      left: 100%;
      width: 14rem;
      padding: 0.5rem;
      background: var(--phoenix-background-color-secondary);
      color: var(--phoenix-text-color-secondary);
      border: 2px solid var(--phoenix-background-color-tertiary);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
    }
  }

  .icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    transition: all 0.4s;

    &:hover {
      background: var(--phoenix-options-icon-bg);
      border-radius: 40%;
    }

    svg {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }
}

.experiment-control-children {
  border-top: 1px solid var(--phoenix-border);
}
