.optionsButton {
  outline: none;
}

.buttonWrapper {
  display: flex;
  height: 2.8rem;
  width: 2.8rem;
  min-height: 2.8rem;
  min-width: 2.8rem;
  padding: 0.8rem;
  cursor: pointer;
  align-self: center;
  background-color: var(--phoenix-options-icon-bg);
  box-shadow: var(--phoenix-icon-shadow);
  border-radius: 3rem;
}
