
<div class="info-box" *ngIf="showObjectsInfo" cdkDrag>

  <div class="boxHeader" *ngIf="collections!=null">
    <span>Choose a collection: </span>
    <div class="eventSelector" >
      <label for="event">Event</label>
      <select id="collection" name="collection" (change)='changeCollection($event)'>
        <option value="" selected disabled hidden>Choose Collection</option>
        <option *ngFor="let collection of collections" [value]="collection">
          {{collection}}
        </option>
      </select>
    </div>
  </div>

  <div class="boxBody">
    <table id="collectionTable" *ngIf="showingCollection">
      <thead>
      <tr>
        <th>No.</th>
        <th *ngFor="let column of collectionColumns">{{column}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let object of showingCollection; index as i">
        <td>#{{i}}</td>
        <td *ngFor="let column of collectionColumns">{{object[column]}}</td>
      </tr>
      </tbody>
    </table>
    <p class="emptyBox" *ngIf="!collections">Load event data to be able to display information about the collections here.</p>
  </div>


  <div class="info-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>

<div id="eventDisplay">
  <div class="infoPanelWrapper" cdkDrag>
    <div id="selectedObjectPanel" [ngClass]="{'hidden' : hiddenSelectedInfo}">
      <div class="selectedObjectPanelHeader">
        <div></div>
        <h5 id="infoName">{{selectedObject.name}}</h5>
        <img [src]="hiddenSelectedInfoBody? 'assets/icons/expand.svg' : 'assets/icons/collapse.svg'" alt=""
             (click)="hiddenSelectedInfoBody = !hiddenSelectedInfoBody">
      </div>
      <div id="selectedObjectPanelBody" [ngClass]="{'hidden' : hiddenSelectedInfoBody}">
        <div *ngFor="let attribute of selectedObject.attributes" class="attributeField">
          <strong>{{attribute.attributeName}}</strong>
          : {{attribute.attributeValue | attributePipe}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="optionsWrapper">
  <div id="optionsPanel">
        <!-- Toggle for the loading modal-->
        <svg class="optionsButton" data-toggle="modal" data-target="#fileModal">
          <use href="assets/icons/file.svg#file"></use>
        </svg>

    <!-- Toggle for selected object panel -->
    <svg class="optionsButton" [ngClass]="showObjectsInfo? 'activeIcon' : ''"
         (click)="showObjectsInfo = !showObjectsInfo">
      <use href="assets/icons/info.svg#info"></use>
    </svg>

    <!-- Toggle for selected object panel -->
    <svg class="optionsButton" [ngClass]="hiddenSelectedInfo? '' : 'activeIcon'" (click)="hiddenSelectedInfo = !hiddenSelectedInfo">
      <use href="assets/icons/cursor.svg#cursor"></use>
    </svg>

    <div class="optionsSeparator"></div>

    <!-- Event selector -->
    <div class="eventSelector" *ngIf="events!=null">
      <label for="event">Event</label>
      <select id="event" name="event" (change)='onOptionsSelected($event)'>
        <option value="" selected disabled hidden>Choose Event</option>
        <option *ngFor="let event of events" [value]="event">
          {{event}}
        </option>
      </select>
    </div>
    <div class="optionsSeparator"></div>
  </div>
</div>

<!-- Modals -->

<!-- Load event Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="jsonModalTitle">Load and Save</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h5>Event data:</h5>
            <div class="row centered">
              <input type="file" id="eventJSONDataFile" class="inputfile" accept="application/json" name="image"
                     (change)="handleJSONEventDataInput($event.target.files)"/>
              <label for="eventJSONDataFile" class="imageLabel"> <img src="assets/icons/eventData.svg"
                                                                  alt="Event data icon">Load
                JSON</label>
              <input type="file" id="eventJiveXMLDataFile" class="inputfile" accept="text/xml" name="image"
                (change)="handleJiveXMLEventDataInput($event.target.files)"/>
         <label for="eventJiveXMLDataFile" class="imageLabel"> <img src="assets/icons/eventData.svg"
                                                             alt="Event data icon">Load
           JiveXML</label>
            </div>
          </div>
        </form>
        <hr>
        <!--
        <h5>Export and import scene:</h5>
        <div class="row centered">
          <label class="imageLabel loadExport" id="exportScene" (click)="saveConfiguration()"> <img
            src="assets/icons/save.svg" alt="Icon made by Dave Gandy from www.flaticons.com">Save scene</label>
          <input type="file" id="loadScene" class="inputfile" accept=".phnx" name="image"
                 (change)="handleSceneInput($event.target.files)"/>
          <label for="loadScene" class="imageLabel loadExport" id="importScene"> <img src="assets/icons/upload.svg"
                                                                                      alt="Icon made by Pixel Buddha from www.flaticons.com">Load
            scene</label>
        </div>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END  MODAL -->