<div id="eventDisplay">
  <div class="infoPanelWrapper">
    <div id="infoPanel" [ngClass]="{'hidden' : hiddenInfo}">
      <div class="infoPanelHeader">
        <div></div>
        <h5 id="infoName">{{selectedObject.name}}</h5>
        <img [src]="hiddenInfoBody? 'assets/images/expand.svg' : 'assets/images/collapse.svg'" alt="" (click)="hiddenInfoBody = !hiddenInfoBody">
      </div>
      <div id="infoPanelBody" [ngClass]="{'hidden' : hiddenInfoBody}">
        <div *ngFor="let attribute of selectedObject.attributes" class="attributeField">
          <strong>{{attribute.attributeName}}</strong>
           : {{attribute.attributeValue | attributePipe}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="optionsWrapper">
  <div id="optionsPanel">
    <button type="button" id="modalToggle" class="btn btn-primary" data-toggle="modal" data-target="#jsonModal">
    </button>
    <img [src]="hiddenInfo? 'assets/images/info.svg' : 'assets/images/info_active.svg'" alt="" (click)="hiddenInfo = !hiddenInfo">
    <div class="optionsSeparator"></div>
    <div class="eventSelector" *ngIf="events!=null">
      <label for="event">Event</label>
      <select id="event" name="event" (change)='onOptionsSelected($event)'>
        <option value="" selected disabled hidden>Choose Event</option>
        <option *ngFor="let event of events" [value]="event">
          {{event}}
        </option>
      </select>
    </div>
    <div class="optionsSeparator"></div>
  </div>
</div>

<!-- Geometries Modal -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="jsonModalTitle">Add geometries</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h5>Load File:</h5>
            <div class="row centered">
              <input type="file" id="eventDataFile" class="inputfile" accept="application/json" name="image"
                     (change)="handleEventDataInput($event.target.files)"/>
              <label for="eventDataFile" class="imageLabel"> <img src="assets/images/eventData.svg"
                                                                  alt="Icon made by Pixel Buddha from www.flaticons.com">Load
                event data</label>
              <input type="file" id="objFile" class="inputfile" accept="obj" name="image"
                     (change)="handleOBJInput($event.target.files)"/>
              <label for="objFile" class="imageLabel"> <img src="assets/images/obj.svg"
                                                            alt="Icon made by Pixel Buddha from www.flaticons.com">Load
                .obj</label>
            </div>
            <p>Currently supported event data files written in JSON and OBJ files. Supported file formats: .json,
              .obj</p>
          </div>
        </form>
        <hr>
        <h5>Export and import scene:</h5>
        <div class="row centered">
          <label class="imageLabel loadExport" id="exportScene" (click)="saveConfiguration()"> <img
            src="assets/images/save.svg" alt="Icon made by Dave Gandy from www.flaticons.com">Save scene</label>
          <input type="file" id="loadScene" class="inputfile" accept=".gltf" name="image"
                 (change)="handleGLTFInput($event.target.files)"/>
          <label for="loadScene" class="imageLabel loadExport" id="importScene"> <img src="assets/images/upload.svg"
                                                                                      alt="Icon made by Pixel Buddha from www.flaticons.com">Load
            scene</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END  MODAL -->
