.row {
  justify-content: center;
  margin: 1rem 0;
}

textarea {
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 4px rgba(54, 54, 54, 0.07);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.2em 0.5em;
  margin-right: 0.8em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imageLabel {
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: #6EAECE;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em 0.5em;
  border-radius: 10px;
  width: 8rem;
  text-align: center;
  margin: 0 0.4rem;
}

.imageLabel img {
  max-height: 2em;
}

.imageLabel:hover {
  background-color: #118AB2;
}

.imageLabel.loadExport img {
  max-height: 1.2em;
}

.imageLabel.loadExport {
  padding: 0.8em 0.2em;
  width: 7rem;
}

#exportScene {
  background-color: #5BD99E;
}

#exportScene:hover {
  background-color: #05c292;
}

#importScene {
  background-color: #ecc25e;
}

#importScene:hover {
  background-color: #d6b44d;
}

.infoPanelWrapper {
  position: absolute;
  top: 6rem;
  left: 2rem;
}

#infoPanel {
  width: 15rem;
  max-width: 15rem;
  max-height: 16rem;
  min-width: 7rem;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.8em;
  overflow-y: scroll;
  z-index: 99;
  background: white;
}

#infoPanel.hidden {
  display: none;
}

#infoPanel attributeField {
  max-width: 12rem;
}

.infoPanelHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(88, 88, 88, 0.08);
  margin-bottom: 0.7rem;
  padding: 0.8rem 0.6rem;
}

.infoPanelHeader h5 {
  font-family: Circular, sans-serif;
}

.infoPanelHeader img {
  height: 0.6rem;
  cursor: pointer;
}

.infoPanelHeader h5 {
  margin: 0 1rem;
}

#infoPanelBody {
  margin-bottom: 1rem;
}

#infoPanelBody.hidden {
  display: none;
}


#modalToggle {
  background: none;
  background-image: url("/assets/images/more.svg");
  border: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  margin-left: 0.4rem;
}
#modalToggle:focus {
  outline: none;
  box-shadow: none;
}

