<div class="overlay-card card" [ngClass]="{'d-none' : !active}" cdkDrag cdkDragBoundary="body">
  <div class="card-header d-flex justify-content-between" cdkDragHandle *ngIf="title">
    <div class="align-self-center card-icon" *ngIf="icon">
      <svg>
        <use attr.href="assets/icons/{{icon}}.svg#{{icon}}"></use>
      </svg>
    </div>
    <h5 class="align-self-start m-0 px-2">{{title}}</h5>
    <img class="align-self-center expandCollapse"
      [src]="showBody ? 'assets/icons/collapse.svg' : 'assets/icons/expand.svg'" alt="Expand / Collapse"
      (click)="showBody = !showBody">
  </div>
  <ng-content *ngIf="showBody"></ng-content>
</div>
