.overlay-card.card {
  color: var(--phoenix-text-color);
  background: none;
  max-width: 30vw;
  min-width: 300px; // Same as overlay.component.ts resize x-axis limit
  max-height: 70vh;
  box-shadow: none;
  border: none;
  position: relative;

  .card-header {
    width: 12rem;
    background: var(--phoenix-background-color-secondary);
    box-shadow: var(--phoenix-box-shadow);
    padding: 0.4rem 0.8rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    cursor: move;

    .card-icon {
      display: flex;
      height: 0.7rem;
      width: 0.7rem;
    }

    h5 {
      font-size: 0.9rem;
    }

    .expandCollapse {
      height: 0.4rem;
      cursor: pointer;
      transition: all 0.2s;

      &.expand {
          transform: scaleY(-1);
      }
    }
  }

  .overlay-card-content {
    background: var(--phoenix-background-color);
    box-shadow: var(--phoenix-box-shadow);
    border-radius: 10px;
    border-top-left-radius: 0;
    overflow: auto;
    height: 100%;
  }

  .list-group {
    color: var(--phoenix-text-color);
    background: var(--phoenix-background-color-secondary);
    max-height: 40vh;
    overflow: auto;

    .list-group-item {
      background-color: var(--phoenix-background-color-secondary);
      border-color: var(--dat-border);
    }
  }

  .resize-handle.corner {
    width: 1.2rem;
    height: 1.2rem;
    cursor: nwse-resize;
    border-right: 0.3rem solid var(--phoenix-text-color);
    border-bottom: 0.3rem solid var(--phoenix-text-color);
    position: absolute;
  }
}
