.overlay-card.card {
    max-width: 50vw !important;

    .collectionSelector {

      span {
        color: var(--phoenix-text-color-secondary);
        margin-right: 1rem;
      }
    }

    .boxBody {
      max-height: 40vh;
      overflow: scroll;

      p.emptyBox {
        max-width: 21em;
      }
    }

    #collectionTable {
      position: relative;
      color: var(--phoenix-text-color-secondary);

      thead tr th {
        position: sticky;
        top: 0;
        background: var(--phoenix-background-color-secondary);
      }

      tr * {
        padding-right: 1.2rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }