<!-- Show objects -->
<app-overlay title="Collections Info" icon="info" [active]="showObjectsInfo">
  <div class="collectionsInfo m-1">
    <div class="collectionSelector mb-2 d-flex align-items-center" *ngIf="collections!=null">
      <span>Choose a collection: </span>
      <div class="eventSelector">
        <label for="event">Event</label>
        <select id="collection" name="collection" (change)='changeCollection($event)'>
          <option value="" selected disabled hidden>Choose Collection</option>
          <option *ngFor="let collection of collections" [value]="collection">
            {{collection}}
          </option>
        </select>
      </div>
    </div>

    <div class="boxBody">
      <table id="collectionTable" *ngIf="showingCollection">
        <thead>
          <tr>
            <th>No.</th>
            <th *ngFor="let column of collectionColumns">{{column}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of showingCollection; index as i">
            <td>#{{i}}</td>
            <td *ngFor="let column of collectionColumns">{{object[column]}}</td>
          </tr>
        </tbody>
      </table>
      <p class="emptyBox" *ngIf="!collections">Load event data to be able to display information about the collections
        here.</p>
    </div>
  </div>
</app-overlay>
