.info-box {
    z-index: 91;
    box-sizing: border-box;
    color: var(--phoenix-text-color-secondary);
    background: var(--phoenix-background-color-secondary);
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    padding: 1rem 1.5rem;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
    border-radius: 10px;
    max-width: 50vw;
    overflow-y: scroll;
    overflow-x: scroll;

    &:active {
      box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.2);
    }

    .boxHeader {
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;

      span {
        color: var(--phoenix-text-color-secondary);
        margin-right: 1rem;
      }
    }

    .boxBody {
      max-height: 40vh;
      overflow-y: scroll;

      p.emptyBox {
        max-width: 21em;
      }
    }

    .info-handle {
      position: absolute;
      top: 5px;
      right: 15px;
      color: var(--phoenix-text-color-secondary);
      cursor: move;
      width: 1rem;
      height: 1rem;
    }

    #collectionTable {
      position: relative;
      color: var(--phoenix-text-color-secondary);

      thead tr th {
        position: sticky;
        top: 0;
        background: var(--phoenix-background-color-secondary);
      }

      tr * {
        padding-right: 1.2rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }