.navbar-light .navbar-toggler {
  border: none;
}

nav a.navbar-brand {
  font-family: "Lato";
  color: var(--phoenix-text-color-secondary);
  font-weight: 500;
}

.navbar-brand img {
  height: 2em;
  margin-right: 1.2em;
}

.profile-menu img {
  object-fit: cover;
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  cursor: pointer;
}


nav a {
  color:var(--phoenix-text-color-secondary);;
}

#github-link {
  display: flex;
  align-items: center;

  a img {
    height: 1.6rem;
    &:hover {
      opacity: 0.8;
    }
  }
}

.dropdown-menu {
  text-align: center;
  color: #4e4e4e;
  min-width: 0;
  padding: .5rem 1rem;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.185);
}


.navbar-light .navbar-nav .nav-link {
  color: var(--phoenix-text-color-secondary) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: red !important;
}

@media (max-width: 992px) {
  .dropdown-menu.show {
    border: none;
    box-shadow: none;
  }
}
