#selectedObjectPanel {
  width: 15rem;
  max-width: 15rem;
  max-height: 16rem;
  min-width: 7rem;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: var(--phoenix-box-shadow);
  border-radius: 10px;
  color: var(--phoenix-text-color-secondary);
  padding: 0 0.8em;
  overflow-y: scroll;
  z-index: 99;
  background: var(--phoenix-background-color-secondary);

  &.hidden {
    display: none;
  }

  attributeField {
    max-width: 12rem;
  }

  .selectedObjectPanelHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(88, 88, 88, 0.08);
    margin-bottom: 0.7rem;
    padding: 0.8rem 0.6rem;

    h3 {
      font-family: Circular, sans-serif;
      margin: 0 1rem;
    }

    img {
      height: 0.6rem;
      cursor: pointer;
    }
  }


  #selectedObjectPanelBody {
    margin-bottom: 1rem;

    &.hidden {
      display: none;
    }
  }
}

#eventDisplay {
  position: relative;
  
  #eventInfo {
    position: absolute;
    left: 0.7rem;
    top: 0.7rem;
    display: flex;
    color: var(--phoenix-text-color-secondary);
    font-size: 0.75rem;

    #experimentLogo {
      width: 6rem;
      margin-right: 0.5rem;
      img {
        width: 100%;
      }
    }

    h3 {
      font-size: 1rem;
    }

    table {
      color: var(--phoenix-text-color-secondary);
      
      th, td {
        padding: 0;
        margin: 0;
      }
      td {
        padding-left: 0.5rem;
      }

    }

  }
}