<div class="optionsWrapper">
  <button id="hide-ui-menu" [matTooltip]="hideUIMenu ? 'Open toolbar' : 'Close toolbar'" matTooltipPosition="above"
    (click)="hideUIMenu = !hideUIMenu" [ngClass]="{'ui-menu-hidden': hideUIMenu}">
    <svg>
      <use href="assets/icons/expand.svg#expand"></use>
    </svg>
  </button>
  <div id="optionsPanel" [ngClass]="{'d-none': hideUIMenu}">
    <!-- Toggle for loading geometries modal-->
    <app-io-options></app-io-options>

    <!-- Toggle for collections info -->
    <app-collections-info></app-collections-info>

    <!-- Toggle for selected object panel -->
    <app-object-selection></app-object-selection>

    <!-- Toggle for overlay panel -->
    <app-overlay-view></app-overlay-view>

    <!-- Main view toggle -->
    <app-main-view-toggle></app-main-view-toggle>

    <!-- Toggle for clipping geometries -->
    <app-object-clipping></app-object-clipping>

    <!-- Dark theme toggle -->
    <app-dark-theme></app-dark-theme>

    <app-auto-rotate></app-auto-rotate>

    <app-view-options></app-view-options>

    <!-- Zoom in and zoom out controls -->
    <app-zoom-controls></app-zoom-controls>

    <!-- Event selector -->
    <app-event-selector></app-event-selector>

  </div>
</div>
