#selectedObjectPanel {
    width: 15rem;
    max-width: 15rem;
    max-height: 16rem;
    min-width: 7rem;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: var(--phoenix-box-shadow);
    border-radius: 10px;
    color: var(--phoenix-text-color-secondary);
    padding: 0 0.8em;
    overflow-y: scroll;
    z-index: 92;
    background: var(--phoenix-background-color-secondary);

    &.hidden {
      display: none;
    }

    attributeField {
      max-width: 12rem;
    }

    .selectedObjectPanelHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      border-bottom: 1px solid rgba(88, 88, 88, 0.08);
      margin-bottom: 0.7rem;
      padding: 0.8rem 0.6rem;

      h5 {
        font-family: Circular, sans-serif;
        margin: 0 1rem;
      }

      img {
        height: 0.6rem;
        cursor: pointer;
      }
    }


    #selectedObjectPanelBody {
      margin-bottom: 1rem;

      &.hidden {
        display: none;
      }
    }
  }




  .info-box {
    box-sizing: border-box;
    color: var(--phoenix-text-color-secondary);
    background: var(--phoenix-background-color-secondary);
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    padding: 1rem 1.5rem;
    position: absolute;
    z-index: 91;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
    border-radius: 10px;
    max-width: 50vw;
    overflow-y: scroll;
    overflow-x: scroll;

    &:active {
      box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.2);
    }

    .boxHeader {
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;

      span {
        color: var(--phoenix-text-color-secondary);
        margin-right: 1rem;
      }
    }

    .boxBody {
      max-height: 40vh;
      overflow-y: scroll;

      p.emptyBox {
        max-width: 21em;
      }
    }

    .info-handle {
      position: absolute;
      top: 5px;
      right: 15px;
      color: var(--phoenix-text-color-secondary);
      cursor: move;
      width: 1rem;
      height: 1rem;
    }

    #collectionTable {
      position: relative;
      color: var(--phoenix-text-color-secondary);

      thead tr th {
        position: sticky;
        top: 0;
        background: var(--phoenix-background-color-secondary);
      }

      tr * {
        padding-right: 1.2rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

.optionsWrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#optionsPanel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-content: center;
  background: var(--phoenix-background-color-secondary);
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: var(--phoenix-box-shadow);
  border-radius: 10px;
  max-width: 95%;
  padding: 0.5rem 1rem;
  overflow-x: scroll;
  z-index: 90;

  img, .optionsButton {
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    cursor: pointer;
    align-self: center;
  }

  .optionsButton {
    margin-left: 0.4rem;

    &.activeIcon {
      --phoenix-options-icon-path: #00A7BA;
    }
  }

  .preset-views {
    display: flex;
    flex-direction: row;
    align-items: center;

    .optionsButton {
      max-height: 3rem;
      max-width: 3rem;
      height: 3rem;
      width: 3rem;
      margin-right: 0.5rem;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }
    }
  }
}

#helpPanel {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.optionsSeparator {
  margin: 0 0.5rem;
}

.eventSelector {
  display: flex;

  label {
    display: none;
    color: var(--phoenix-text-color-secondary);
  }

  select {
    width: 6rem;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--phoenix-logo) 96% / 30% no-repeat var(--phoenix-background-color-tertiary);
    color: var(--phoenix-text-color-secondary);
  }
}



@media screen and (max-width: 768px) {
  .preset-views-ul {
    display: none;
  }
}

