<div class="optionsWrapper">
    <div id="optionsPanel">

        <!-- Toggle for loading geometries modal-->
        <app-io-options></app-io-options>

        <!-- Toggle for collections info -->
        <app-collections-info></app-collections-info>

        <!-- Toggle for selected object panel -->
        <app-object-selection></app-object-selection>

        <!-- Toggle for overlay panel -->
        <app-overlay-view></app-overlay-view>

        <!-- Toggle for clipping geometries -->
        <app-object-clipping></app-object-clipping>

        <!-- Dark theme toggle -->
        <app-dark-theme></app-dark-theme>

        <app-auto-rotate></app-auto-rotate>

        <app-view-options></app-view-options>

        <!-- Event selector -->
        <app-event-selector></app-event-selector>
    </div>
</div>