<!-- Selected -->


<div class="optionsWrapper">
    <div id="optionsPanel">

        <!-- Toggle for the loading modal-->
        <app-io-options></app-io-options>

        <!-- Toggle for selected object panel -->
        <app-collections-info></app-collections-info>

        <!-- Toggle for selected object panel -->
        <app-object-selection></app-object-selection>

        <!-- Toggle for overlay panel -->
        <app-overlay-view></app-overlay-view>

        <div class="optionsSeparator"></div>

        <!-- Event selector -->
        <div class="eventSelector" *ngIf="events!=null">
            <label for="event">Event</label>
            <select id="event" name="event">
                <option value="" selected disabled hidden>Choose Event</option>
                <option *ngFor="let event of events" [value]="event">
                    {{event}}
                </option>
            </select>
        </div>
        <div class="optionsSeparator"></div>
    </div>
</div>

<!-- Modals -->

<!-- Geometries Modal -->
<!-- END  MODAL -->