.optionsWrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#optionsPanel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background: var(--phoenix-background-color-secondary);
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: var(--phoenix-box-shadow);
  border-radius: 30px;
  max-width: 95%;
  padding: 0.3rem 1rem;
  overflow-x: scroll;
  z-index: 90;

  .preset-views {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

#helpPanel {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.optionsSeparator {
  margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .preset-views-ul {
    display: none;
  }
}
