.row {
  justify-content: center;
  margin: 1rem 0;
}

textarea {
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 4px rgba(54, 54, 54, 0.07);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.2em 0.5em;
  margin-right: 0.8em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imageLabel {
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-color: #6eaece;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em 0.5em;
  border-radius: 10px;
  width: 8rem;
  text-align: center;
  margin: 0 0.4rem;

  &.loadExport {
    padding: 0.8em 0.2em;
    width: 7rem;

    img {
      max-height: 1.2em;
    }
  }

  img {
    max-height: 2em;
  }

  &:hover {
    background-color: #118ab2;
  }
}

.imageLabel.exportLabel {
  background-color: #cb7133;

  &:hover {
    background-color: #ad5b2d;
  }
}

#exportScene {
  background-color: #5bd99e;

  &:hover {
    background-color: #05c292;
  }
}

#importScene {
  background-color: #ecc25e;

  &:hover {
    background-color: #d6b44d;
  }
}

.infoPanelWrapper {
  position: absolute;
  top: 6rem;
  left: 2rem;
}

#selectedObjectPanel {
  width: 15rem;
  max-width: 15rem;
  max-height: 16rem;
  min-width: 7rem;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: var(--phoenix-box-shadow);
  border-radius: 10px;
  color: var(--phoenix-text-color-secondary);
  padding: 0 0.8em;
  overflow-y: scroll;
  z-index: 99;
  background: var(--phoenix-background-color-secondary);

  &.hidden {
    display: none;
  }

  attributeField {
    max-width: 12rem;
  }

  .selectedObjectPanelHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(88, 88, 88, 0.08);
    margin-bottom: 0.7rem;
    padding: 0.8rem 0.6rem;

    h3 {
      font-family: Circular, sans-serif;
      margin: 0 1rem;
    }

    img {
      height: 0.6rem;
      cursor: pointer;
    }
  }

  #selectedObjectPanelBody {
    margin-bottom: 1rem;

    &.hidden {
      display: none;
    }
  }
}

.info-box {
  box-sizing: border-box;
  color: var(--phoenix-text-color-secondary);
  background: var(--phoenix-background-color-secondary);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 999999;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
  border-radius: 10px;
  max-width: 50vw;
  overflow-y: scroll;
  overflow-x: scroll;

  &:active {
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.2);
  }

  .boxHeader {
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    span {
      color: var(--phoenix-text-color-secondary);
      margin-right: 1rem;
    }
  }

  .boxBody {
    max-height: 40vh;
    overflow-y: scroll;

    p.emptyBox {
      max-width: 21em;
    }
  }

  .info-handle {
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--phoenix-text-color-secondary);
    cursor: move;
    width: 1rem;
    height: 1rem;
  }

  #collectionTable {
    position: relative;
    color: var(--phoenix-text-color-secondary);

    thead tr th {
      position: sticky;
      top: 0;
      background: var(--phoenix-background-color-secondary);
    }

    tr * {
      padding-right: 1.2rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.modal-content {
  background: var(--phoenix-background-color-secondary);
  color: var(--phoenix-text-color-secondary);

  .close {
    color: var(--phoenix-text-color-secondary);
  }
}
