app-ui-menu #uiMenu,
app-phoenix-menu #phoenixMenu,
app-nav #mainLogo,
.overlay-card,
#statsElement {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.ss-mode {
  app-ui-menu #uiMenu,
  app-phoenix-menu #phoenixMenu,
  app-nav #mainLogo,
  .overlay-card,
  #statsElement {
    visibility: hidden;
    opacity: 0;
  }
}
