app-ui-menu .optionsWrapper,
app-phoenix-menu #phoenix-menu,
app-nav .main-logo,
.overlay-card,
.ui-element {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.ss-mode {
  app-ui-menu .optionsWrapper,
  app-phoenix-menu #phoenix-menu,
  app-nav .main-logo,
  .overlay-card,
  .ui-element {
    visibility: hidden;
    opacity: 0;
  }
}
