@import 'phoenix-ui-components/theming';

/* Additional fonts */
@font-face {
  font-family: 'Circular';
  src: url(assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: 'Lato';
  src: url(assets/fonts/Lato-Regular.ttf);
}
