.btn.btn-primary {
  border: none;
  background-color: #1E8BB0;
}

.btn.btn-primary:hover {
  background-color: #19506f;
}

canvas {
  width: 100%;
  max-width: 100%;
  max-height: 92vh;
}

/* dat.gui styles */
#gui {
  position: absolute;
  top: 8em;
  right: 0px;
}

#gui .folder .title {
  background: #1E8BB0;
  text-shadow: none;
  color: white;
  border-color: #f0f0f0;
}

#gui .folder .folder .title {
  background: #56ADC5;
}

#gui .folder .folder .folder .title {
  background: #84CFE1;
}

#gui ul .folder:first-child .dg ul .title {
  border-radius: 5px 5px 0 0;
}

#gui ul .folder .dg ul .cr {
  background: #ffffff;
  color: #333333;
  text-shadow: none;
  border-color: #f0f0f0;
}

#gui .close-button {
  background: #1E8BB0;
  text-shadow: none;
  color: white;
  border-color: #f0f0f0;
  border-radius: 0 0 5px 5px;
}

#gui .dg .c .slider .slider-fg {
  background: #1E8BB0;
}

#gui .dg .c .slider {
  background: none;
}

#gui .dg .cr.number input[type=text] {
  color: #333333;
  margin-top: -0.5em;
  background: none;
}

#gui .dg .c input[type=text] {
  max-height: 2em;
}

/* Preset views styles */
.preset-views-wrapper {
  position: absolute;
  top: 30%;
}

.preset-views {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.preset-views  img {
  cursor: pointer;
  height: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .preset-views-ul {
    display: none;
  }
}

@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Regular.ttf);
}
