

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(211, 211, 211);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(211, 211, 211);;
}

::-webkit-scrollbar-corner {
  display: none;
  opacity: 0;
}

.btn.btn-primary {
  border: none;
  background-color: #118AB2;
}

.btn.btn-primary:hover {
  background-color: #19506f;
}

canvas {
  width: 100%;
  max-width: 100%;
  max-height: 92vh;
}

/* dat.gui styles */
#gui {
  position: absolute;
  top: 6rem;
  right: 0px;

  .folder {
    .title {
      background: #F9F9F9;
      text-shadow: none;
      color: #333333;
      border-color: #e9e9e9;
    }

    .folder {
      .title {
        background: #efefef;
      }

      .folder {
        .title {
          background: #e9e9e9;
        }
      }
    }
  }

  ul .folder {
    &:first-child .dg ul .title {
    }

    .dg ul .cr {
      background: #ffffff;
      color: #333333;
      text-shadow: none;
      border-color: #f0f0f0;
    }
  }

  .close-button {
    background: #F9F9F9;
    text-shadow: none;
    color: #333333;
    border-color: #f0f0f0;
  }

  .dg .c .slider {
    background: none;
    .slider-fg {
      background: #1E8BB0;
    }
  }

  .dg .cr.number input[type=text] {
    color: #333333;
    margin-top: -0.5em;
    background: none;
  }

  .dg .c input[type=text] {
    max-height: 2em;
  }
}

/* Preset views styles */
.preset-views-wrapper {
  position: absolute;
  top: 30%;
}

.preset-views {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    &:last-child {
      margin: 0;
    }
  }
}



.optionsWrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#optionsPanel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-content: center;
  background: white;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  overflow-x: scroll;
  max-width: 95%;
  z-index: 10;
  img {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    align-self: center;
  }
  .optionsButton {
    margin-left: 0.4rem;
  }
}


.optionsSeparator {
  margin: 0 0.5rem;
}

.eventSelector {
  display: flex;
  label {
    display: none;
    color: #777777;
  }
  select {
    width: 6rem;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(assets/images/logo-small.svg) 96% / 30% no-repeat #f9f9f9;
    color: #777777;
  }
}

#fileModalToggle {
  background: none;
  background-image: url("assets/icons/file.svg");
  border: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  min-width: 3rem;
  margin-left: 0.4rem;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .preset-views-ul {
    display: none;
  }
}

@font-face {
  font-family: "Circular";
  src: url(assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}
