@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Regular.ttf);
}

canvas {
  max-width: 100%;
  max-height: 92vh;
}

#gui {
  position: absolute;
  top: 8em;
  right: 0px;
}

