@import "~@angular/material/theming";
@include mat-core();

// Define an alternate dark theme.
$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-cyan, A200, A100, A400);
$warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
$light-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($light-theme);

:root {
  --phoenix-logo: url(assets/images/logo-small.svg);
  --phoenix-selector: url(assets/images/selector.png);
  --phoenix-background-color: #ffffff;
  --phoenix-background-color-secondary: #ffffff;
  --phoenix-background-color-tertiary: #ffffff;
  --phoenix-text-color: #333333;
  --phoenix-text-color-secondary: #777777;
  --phoenix-text-color-hover: #c5c5c5;
  --phoenix-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  --phoenix-scroll-color: #d3d3d3;
  --phoenix-options-icon-bg: rgba(0, 0, 0, 0.08);
  --phoenix-options-icon-path: #777777;
  --phoenix-icon-shadow: 0px 3px 6px rgba(0, 0, 0, 0.11);
  --dat-background-primary: #f9f9f9;
  --dat-background-secondary: #efefef;
  --dat-background-tertiary: #e9e9e9;
  --dat-background-quaternary: #ffffff;
  --dat-border: #f0f0f0;

  .optionsButton.activeIcon {
    --phoenix-options-icon-path: #00c4ba;
  }
}

//dark theme
[data-theme="dark"] {
  --phoenix-background-color: #000000;
  --phoenix-background-color-secondary: #181818;
  --phoenix-background-color-tertiary: #262626;
  --phoenix-text-color: white;
  --phoenix-text-color-secondary: #dbdbdb;
  --phoenix-text-color-hover: #c5c5c5;
  --phoenix-box-shadow: 0px 0px 8px rgb(26, 26, 26);
  --phoenix-scroll-color: #3d3d3d;
  --phoenix-options-icon-bg: rgba(255, 255, 255, 0.18);
  --phoenix-options-icon-path: #fff;
  --phoenix-icon-shadow: 0px 4px 8px rgba(0, 0, 0, 0.22);
  --dat-background-primary: #181818;
  --dat-background-secondary: #262626;
  --dat-background-tertiary: #343434;
  --dat-background-quaternary: #101010;
  --dat-border: #343434;

  transition: 1s;

  @include angular-material-theme($dark-theme);

  #optionsPanel {
    .optionsButton.activeIcon {
      --phoenix-options-icon-path: #1cfff4;
    }
  }
}

html,
body {
  background-color: var(--phoenix-background-color);
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--phoenix-scroll-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(211, 211, 211);
}

::-webkit-scrollbar-corner {
  display: none;
  opacity: 0;
}

.btn.btn-primary {
  border: none;
  background-color: #118ab2;
}

.btn.btn-primary:hover {
  background-color: #19506f;
}

canvas {
  width: 100%;
  max-width: 100%;
  outline: none;
}

select {
  border-radius: 30px;
}

#eventDisplay {
  height: 100vh;
  overflow: hidden;
}

/* dat.gui styles */
#gui {
  position: absolute;
  top: 6rem;
  right: 0px;

  .folder {
    .title {
      background: var(--dat-background-primary);
      text-shadow: none;
      color: var(--phoenix-text-color);
      border-color: var(--dat-border);
    }

    .folder {
      .title {
        background: var(--dat-background-secondary);
      }

      .folder {
        .title {
          background: var(--dat-background-tertiary);
        }
      }
    }
  }

  ul .folder {
    .dg ul .cr {
      background: var(--dat-background-quaternary);
      color: var(--phoenix-text-color);
      text-shadow: none;
      border-color: var(--dat-border);
    }
  }

  .close-button {
    background: var(--dat-background-primary);
    text-shadow: none;
    color: var(--phoenix-text-color);
    border-color: var(--dat-border);
  }

  .dg .c .slider {
    background: none;

    .slider-fg {
      background-image: linear-gradient(to right, #1e8bb0, #00acb9, #00ca9d, #81df69, #f1e833);
    }
  }

  .dg .cr.number input[type="text"] {
    color: var(--phoenix-text-color);
    margin-top: -0.5em;
    background: none;
  }

  .dg .cr.color .c input[type="text"] {
    max-height: 2em;
  }
}

.eventSelector {
  display: flex;

  label {
    display: none;
    color: var(--phoenix-text-color-secondary);
  }

  select {
    width: 9rem;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid rgba(88, 88, 88, 0.08);
    box-shadow: var(--phoenix-icon-shadow);
    background-color: var(--phoenix-background-color-tertiary);
    color: var(--phoenix-text-color-secondary);
  }
}

/* Common styles */
.overlay-card.card {
  color: var(--phoenix-text-color-secondary);
  background: var(--phoenix-background-color-secondary);
  box-shadow: var(--phoenix-box-shadow);
  font-size: 12px;

  .card-header {
    text-align: center;
    border-bottom-color: var(--dat-border);
    cursor: move;
  }

  .list-group {
    color: var(--phoenix-text-color-secondary);
    background: var(--phoenix-background-color-secondary);
    overflow: auto;

    .list-group-item {
      background-color: var(--phoenix-background-color-secondary);
      border-color: var(--dat-border);
    }
  }
}

/* Additional fonts */
@font-face {
  font-family: "Circular";
  src: url(assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
}
