<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <img src="/assets/images/logo-text.svg" class="logo d-block mx-auto mb-4" alt="">
    <p class="lead">Application for visualizing High Energy Physics data.</p>
  </div>

  <div class="row centered">
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/geometry.png" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Geometry display</h5>
        <p class="card-text">This test should show some simple geometry.</p>
        <a routerLink="/geometry" class="btn btn-primary">Show</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/atlas.svg" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">ATLAS</h5>
        <p class="card-text">Show the ATLAS detector.
          One simple event.</p>
        <a routerLink="/atlas" class="btn btn-primary">Show</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/trackml.png" alt="Card image cap">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">TrackML</h5>
        <p class="card-text">Visualisation for TrackML.
          Shows how to write a custom event loader.</p>
        <a routerLink="/trackml" class="btn btn-primary">Show</a>
      </div>
    </div>
  </div>





</div>
