.loader-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--phoenix-background-color);
  z-index: 9998;

  img {
    width: 5rem;
    height: 5rem;
    animation: loader 2s infinite;
  }

  p {
    color: var(--phoenix-text-color);
  }

  &.load-complete {
    display: none !important;
  }
}

@keyframes loader {
  0%,
  100% {
    transform: scale(0.1) rotateZ(0deg);
  }
  95% {
    transform: scale(1) rotateZ(15deg);
  }
}
