@use '@angular/material' as mat;
@include mat.core();

/* Define an alternate dark theme. */
$primary: mat.define-palette(mat.$teal-palette);
$accent: mat.define-palette(mat.$cyan-palette);
$warn: mat.define-palette(mat.$yellow-palette);
$colors: (
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
);
$dark-theme: mat.define-dark-theme($colors);
$light-theme: mat.define-light-theme($colors);
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.all-component-themes($light-theme);

:root {
  --phoenix-primary: #118ab2;
  --phoenix-secondary: #f1e833;
  --phoenix-background-color: #ffffff;
  --phoenix-background-color-secondary: #f5f5f5;
  --phoenix-background-color-tertiary: #e6e6e6;
  --phoenix-text-color: #333333;
  --phoenix-text-color-secondary: #777777;
  --phoenix-text-color-hover: #c5c5c5;
  --phoenix-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  --phoenix-scroll-color: #acacac;
  --phoenix-options-icon-bg: rgba(0, 0, 0, 0.08);
  --phoenix-options-icon-path: #777777;
  --phoenix-icon-shadow: 0px 3px 6px rgba(0, 0, 0, 0.11);
  --phoenix-accent: #00bcd4;
  --phoenix-border: #c5c5c5;
  --dat-background-primary: #f9f9f9;
  --dat-background-secondary: #efefef;
  --dat-background-tertiary: #e9e9e9;
  --dat-background-quaternary: #ffffff;
  --dat-border: #f0f0f0;
}

/* Dark Theme */
[data-theme='dark'] {
  --phoenix-background-color: #1a1a1a;
  --phoenix-background-color-secondary: #292929;
  --phoenix-background-color-tertiary: #3f3f3f;
  --phoenix-text-color: white;
  --phoenix-text-color-secondary: #dbdbdb;
  --phoenix-text-color-hover: #c5c5c5;
  --phoenix-box-shadow: 0px 0px 8px rgb(26, 26, 26);
  --phoenix-scroll-color: #707070;
  --phoenix-options-icon-bg: rgba(255, 255, 255, 0.18);
  --phoenix-options-icon-path: #fff;
  --phoenix-icon-shadow: 0px 4px 8px rgba(0, 0, 0, 0.22);
  --phoenix-accent: #00bcd4;
  --phoenix-border: #5c5c5c;
  --dat-background-primary: #1a1a1a;
  --dat-background-secondary: #292929;
  --dat-background-tertiary: #363636;
  --dat-background-quaternary: #4d4d4d;
  --dat-border: #343434;
  transition: 1s;

  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.all-component-colors($dark-theme);

  .mat-dialog-container {
    background: var(--phoenix-background-color-secondary);
  }
}

html,
body {
  background-color: var(--phoenix-background-color);
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--phoenix-scroll-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(211, 211, 211);
}

::-webkit-scrollbar-corner {
  display: none;
  opacity: 0;
}

.btn.btn-primary {
  border: none;
  background-color: #118ab2;
}

.btn.btn-primary:hover,
.btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #19506f;
}

.btn-blank {
  color: inherit;
  background: unset;
  border: unset;
  padding: unset;
}

canvas {
  width: 100%;
  max-width: 100%;
  outline: none;
}

select {
  border-radius: 30px;
  padding: 0.125rem 0.25rem;
  background-color: var(--phoenix-background-color-tertiary);
  color: var(--phoenix-text-color-secondary);
  border: none;
}

label {
  margin: 0;
}

#eventDisplay {
  height: 100vh;
  overflow: hidden;
}

/* dat.gui styles */
#gui {
  position: absolute;
  top: 5rem !important;
  right: 0px;

  .folder {
    .title {
      background: var(--dat-background-primary);
      text-shadow: none;
      color: var(--phoenix-text-color);
      border-color: var(--dat-border);
    }

    .folder {
      .title {
        background: var(--dat-background-secondary);
      }

      .folder {
        .title {
          background: var(--dat-background-tertiary);
        }
      }
    }
  }

  ul .folder {
    .dg ul .cr {
      background: var(--dat-background-quaternary);
      color: var(--phoenix-text-color);
      text-shadow: none;
      border-color: var(--dat-border);
    }
  }

  .close-button {
    background: var(--dat-background-primary);
    text-shadow: none;
    color: var(--phoenix-text-color);
    border-color: var(--dat-border);
  }

  .dg .c .slider {
    background: none;

    .slider-fg {
      background-image: linear-gradient(
        to right,
        #1e8bb0,
        #00acb9,
        #00ca9d,
        #81df69,
        #f1e833
      );
    }
  }

  .dg .cr.number input[type='text'] {
    color: var(--phoenix-text-color);
    margin-top: -0.5em;
    background: none;
  }

  .dg .cr.color .c input[type='text'] {
    max-height: 2em;
  }
}

.form-control,
.form-control:focus {
  color: var(--phoenix-text-color);
  background-color: var(--phoenix-background-color-tertiary);
  border: 1px solid var(--phoenix-border);
}
