<div class="dialog">
    <h1 mat-dialog-title>Add geometries</h1>
    <div mat-dialog-content class="dialog-content">
        <!-- Import file -->
        <div class="form-group">
            <h5>Import File:</h5>
            <div class="row centered">
                <input type="file" id="eventDataFile" class="inputfile" accept="application/json" name="image" />
                <label for="eventDataFile" class="imageLabel"> <img src="assets/icons/eventData.svg"
                        alt="Event data icon">Load
                    event data</label>
                <input type="file" id="objFile" class="inputfile" accept=".obj" name="image" />
                <label for="objFile" class="imageLabel"> <img src="assets/icons/obj.svg"
                        alt="Icon made by Pixel Buddha from www.flaticons.com">Load
                    .obj</label>
                <input type="file" id="gltfFile" class="inputfile" accept=".gltf" name="image" />
                <label for="gltfFile" class="imageLabel"> <img src="assets/icons/gltf.svg"
                        alt="Icon made by Pixel Buddha from www.flaticons.com">Load
                    .gltf</label>
            </div>
            <p>Currently supported event data files written in JSON and OBJ files. Supported file formats:
                .json,
                .obj</p>
        </div>
        <!-- Export file -->
        <h5>Export file:</h5>
        <div class="row centered">
            <label class="imageLabel exportLabel" id="exportOBJ"> <img src="assets/icons/obj.svg"
                    alt="Icon made by Dave Gandy from www.flaticons.com">Save
                OBJ</label>
        </div>
        <hr>
        <h5>Export and import scene:</h5>
        <div class="row centered">
            <label class="imageLabel loadExport" id="exportScene"> <img src="assets/icons/save.svg"
                    alt="Icon made by Dave Gandy from www.flaticons.com">Save
                scene</label>
            <input type="file" id="loadScene" class="inputfile" accept=".phnx" name="image" />
            <label for="loadScene" class="imageLabel loadExport" id="importScene"> <img src="assets/icons/upload.svg"
                    alt="Icon made by Pixel Buddha from www.flaticons.com">Load
                scene</label>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
    </div>
</div>